<%= form_with model: film do |form| %>
  <div class="form-group">
    <%= form.label :title %><br>
    <%= form.text_field :title, class: "form-control" %>
    <% film.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description, class: "form-control" %><br>
    <% film.errors.full_messages_for(:description).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :trailer_url %><br>
    <%= form.text_area :trailer_url, class: "form-control" %><br>
    <% film.errors.full_messages_for(:trailer_url).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :release_date %><br>
    <%= form.text_field :release_date, class: "form-control", "data-provide" => 'datepicker', 'data-date-format' => 'dd.mm.yyyy' %><br>
    <% film.errors.full_messages_for(:release_date).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :duration %><br>
    <%= form.text_area :duration, class: "form-control" %><br>
    <% film.errors.full_messages_for(:duration).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :age_restriction %><br>
    <%= form.text_area :age_restriction, class: "form-control" %><br>
    <% film.errors.full_messages_for(:age_restriction).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :categories %><br>
      <%= form.fields_for :film_categories do |film_category_form| %>
        <div class="incident-people new-person">
            <%= film_category_form.inputs    :name=>'Add New category' do %>
                <%= check_box_tag('category.id', checked_value = true, unchecked_value = false) %>
            <% end %>
        </div>
      <% end %>
    <% Category.all.each do |category| %>
      <li>
        <%= check_box_tag(category.id, checked_value = true, unchecked_value = false) %>
        <%= label_tag(category.name) %>
      </li>
    <% end %>
  </div>

  <div>
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
