<h1>List of films</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Picture</th>
      <th scope="col">Title</th>
      <th scope="col">Year</th>
      <th scope="col">Categories</th>
      <th scope="col">Genres</th>
    </tr>
  </thead>
  <tbody>
    <% @films.each do |film| %>
      <tr>
        <td><%='film.picture'%></td>
        <td><%= link_to film.title, film_path(film) %></td>
        <td><%=film.release_date.year%></td>
        <td><%=film.categories.map(&:name).join(', ') %></td>
        <td><%=film.genres.map(&:name).join(', ')%></td>
        <td>
          <%= link_to "Edit", edit_film_path(film), class: 'btn btn-primary' %>
          <%= link_to "Destroy", film_path(film), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @films %>
