<h1 class="text-center">
  <%= @film.title %>
</h1>
<ul>
  <p>
    <% if policy(@film).edit? %>
      <%= link_to "Edit", edit_film_path(@film), class: 'btn btn-primary' %>
    <% end %>
    <% if policy(@film).destroy? %>
      <%= link_to "Destroy", film_path(@film), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger' %>
    <% end %>
    <% if current_user.present? && (current_user.admin? || current_user.editor?) %>
      <% if @film.approved? %>
        <button type="button" class="btn btn-success">Approved</button>
      <% else %>
        <button type="button" class="btn btn-secondary">Unapproved</button>
      <% end %>
    <% end %>
  </p>
  <p>
    Description:
    <%= @film.description %>
  </p>
  <p>
    Trailer:
    <%= @film.trailer_url %>
  </p>
  <p>
    Relese date:
    <%= @film.release_date %>
  </p>
  <p>
    Duration:
    <%= @film.duration %>
  </p>
  <p>
    Age restriction:
    <%= @film.age_restriction %>
  </p>  
  <p>
    Categories:
    <% @film.categories.each do |record| %>
      <%= record.name %>
    <% end %>
  </p>
  <p>
    Countries:
    <% @film.countries.each do |record| %>
      <%= record.name %>
      <%= record.banner %>
    <% end %>
  </p>
  <p>
    Genres:
    <% @film.genres.each do |record| %>
      <%= record.name %>
    <% end %>
  </p>
  <p>
    Tags:
    <% @film.tags.each do |record| %>
      <%= record.name %>
    <% end %>
  </p>
  <p>
    Directors:
    <% @film.film_people.each do |record| %>
      <%= Person.find(record.person_id).name if record.role == 'Director' %>
    <% end %>
  </p>
  <p>
    Actors:
    <% @film.film_people.each do |record| %>
      <%= Person.find(record.person_id).name if record.role == 'Actor' %>
    <% end %>
  </p>
    <% if current_user.present? %>
      <p>
        <% watch_list_record = current_user.watch_items.find_by(film_id: @film.id) %>
        <% unless watch_list_record %>
          <%= link_to 'Add to watching', watch_items_path(film_id: @film.id, user_id: current_user.id, status: 'watching'), method: :post, class: 'btn btn-success' %>
          <%= link_to 'Add to viewed', watch_items_path(film_id: @film.id, user_id: current_user.id, status: 'viewed'), method: :post, class: 'btn btn-success' %>
          <%= link_to 'Will watch', watch_items_path(film_id: @film.id, user_id: current_user.id, status: 'will_watch'), method: :post, class: 'btn btn-success' %>
        <% else %>
          <% unless watch_list_record.status == 'watching' %>
            <%= link_to 'Transfer into watching', watch_item_path(watch_list_record, status: 'watching'), method: :put, class: 'btn btn-success' %>
          <% else %>
            <button type="button" class="btn btn-secondary">Watching</button>
          <% end %>
          <% unless watch_list_record.status == 'viewed' %>
            <%= link_to 'Transfer into viewed', watch_item_path(watch_list_record, status: 'viewed'), method: :put, class: 'btn btn-success' %>
          <% else %>
            <button type="button" class="btn btn-secondary">Viewed</button>
          <% end %>
          <% unless watch_list_record.status == 'will_watch' %>
            <%= link_to "Transfer into 'will watch'", watch_item_path(watch_list_record, status: 'will_watch'), method: :put, class: 'btn btn-success' %>
          <% else %>
            <button type="button" class="btn btn-secondary">Will watch</button>
          <% end %>
        <% end %>
      </p>
    <% end %>
  <p>
    <% if !@film.seasons.size.zero? %>
      <%= link_to 'Show seasons:', seasons_path(film_id: @film.id) %>
      <% @film.seasons.each do |season| %>
        <%= link_to "#{season.title}", season_path(season.id)  %>
      <% end %>
    <% end %>
  </p>
  <p>
    <% if policy(@film).edit? %>
      <%= link_to 'Create season', new_season_path(film_id: @film.id), class: 'btn btn-primary' %>
    <% end %>
  </p>
</ul>
<%= render 'layouts/comments', commentable: @film%>
