<%= form_with model: country do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% country.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
  <%= form.label :banner %><br>
  <%= form.text_field :banner %>
  <% country.errors.full_messages_for(:banner).each do |message| %>
    <div><%= message %></div>
  <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
