<nav class="navbar navbar-expand-lg navbar-light header-style-extension" style="background-color: #f6ee84;">
  <nav class="header-style-extension">
    <a class="navbar-brand" href="/">filmoteka</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <nav class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" style="color:blue" href="#">My profile</a>
      </li>
      <% if @variable %> 
        <li class="nav-item">
        <a class="nav-link" style="color:blue" href=<%=@variable[:link]%>><%= @variable[:text] %></a>
        </li>
      <% end %>
      <div class="dropdown">
        <div class="nav-link dropdown-toggle" style="color:blue" href="/" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Films
        </div>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <%= link_to "Films list", films_path, class: "dropdown-item" %>
            <%= link_to "Create film", new_film_path, class: "dropdown-item" %>
            <div class="dropdown-divider"></div>
            <%= link_to "Categories list", categories_path, class: "dropdown-item" %>
            <%# <div class="dropdown-divider"></div> %>
          </div>
      </div>
    </nav>
  </nav>
  <form class="form-inline my-2 my-lg-0 flexible-element">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn btn-info" style="color:blue" type="submit">Search</button>
  </form>
  <% if current_user %>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
  <% else %>
    <%= link_to "Sign in", new_user_session_path, class: "btn btn-secondary" %>
  <% end %>
</nav>
